---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import ResumeButton from "../components/resume-button.astro";
import ResumeLoading from "../components/resume-loading.astro";
import { Image } from "astro:assets";
import transparentLayout from "../assets/page-404/transparent-layout.png";
import mySelfTransparent from "../assets/page-home/my-self-transparent.png";
import Skills from "../components/skills.astro";
import ProjectHoroscope from "../components/project-horoscope.astro";
import FormEmail from "../components/form-email.astro";

const transparentLayoutAlt = "";
const mySelfTransparentAlt = "My Photo";
---

<Layout title="Vitalii Pavlivskyi Portfolio">
  <Header />
  <main class="w-full xl:w-container mx-auto mt-14 px-4 xl:px-0">
    <section
      id="hero"
      class="w-full mb-16 sm:mb-24 flex flex-col items-center scroll-mt-24"
    >
      <h2 class="mt-12 mb-6 text-5xl font-medium text-pantone text-center">
        Vitalii Pavlivskyi
      </h2>
      <h3 class="mb-6 text-2xl text-center">Front End Developer</h3>
      <div class="w-full mb-8 sm:mb-0 flex justify-center">
        <ResumeButton />
        <ResumeLoading />
      </div>
      <p class="mb-8 text-lg text-center font-normal">
        Freelancer providing services for programming.<br />
        <a href="#contact" class="text-pantone">Contact</a> me down below and let's get started.
      </p>
      <div class="w-full flex justify-center">
        <figure
          class="relative flex justify-center items-center bg-gradient-to-b from-pantone dark:to-grey-light rounded-full shadow-md overflow-hidden"
        >
          <Image
            src={transparentLayout}
            width={transparentLayout.width}
            height={transparentLayout.height}
            alt={transparentLayoutAlt}
            class="object-contain"
          />
          <Image
            src={mySelfTransparent}
            width={mySelfTransparent.width}
            height={mySelfTransparent.height}
            alt={mySelfTransparentAlt}
            quality="max"
            class="absolute object-contain"
          />
        </figure>
      </div>
    </section>
    <hr class="w-1/2 mb-20 sm:mb-24 mx-auto" />
    <section
      id="skills"
      class="w-full mb-16 sm:mb-24 flex flex-col scroll-mt-20"
    >
      <h3 class="mb-6 text-2xl text-center sm:text-start">Skills</h3>
      <p class="mb-8 text-lg text-center sm:text-start">
        These are the technologies l've worked with.
      </p>
      <div class="w-full grid grid-cols-2 sm:grid-cols-5 gap-8">
        <Skills />
      </div>
    </section>
    <hr class="w-1/2 mb-20 sm:mb-24 mx-auto" />
    <section
      id="projects"
      class="w-full mb-16 sm:mb-24 flex flex-col scroll-mt-20"
    >
      <h3 class="mb-6 text-2xl text-center sm:text-start">Projects</h3>
      <p class="mb-8 text-lg text-center sm:text-start">
        Check out some of my recent work.
      </p>
      <div class="w-full flex flex-col gap-y-8">
        <ProjectHoroscope />
      </div>
    </section>
    <hr class="w-1/2 mb-20 sm:mb-24 mx-auto" />
    <section id="contact" class="w-full mb-16 sm:mb-24 flex flex-col scroll-mt-20">
      <h3 class="mb-6 text-2xl text-center sm:text-start">Contact</h3>
      <p class="mb-8 text-lg text-center sm:text-start">
        Submit the form below or shoot me an email - vitalykdc4704ct@gmail.com
      </p>
      <div class="w-full">
        <FormEmail />
      </div>
    </section>
    <Footer />
  </main>
</Layout>
