---
import CopyIcons from "./copy-icons.astro";

interface Props {
  link: string;
};

const {link} = Astro.props as Props;
---

<div class="flex gap-x-4">
  <a href=`https://wa.me/?text=${link}` target="_blank" aria-label="WhatsApp">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="social-icons"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0.907443 23.2589L5.44754 22.068L5.88557 22.3279C7.72732 23.4209 9.83852 23.9992 11.991 24H11.9959C18.6075 24 23.9887 18.6187 23.9914 12.0043C23.9926 8.79906 22.7461 5.78527 20.4813 3.51785C18.2165 1.25042 15.2046 0.00111089 12.0006 0C5.38389 0 0.00262546 5.38078 0 11.9946C-0.000929371 14.2612 0.633266 16.4686 1.83405 18.3785L2.11926 18.8324L0.907443 23.2589ZM18.773 15.1124C19.0245 15.234 19.1943 15.3161 19.2668 15.4371C19.357 15.5875 19.357 16.3095 19.0566 17.152C18.756 17.9943 17.3153 18.7632 16.6224 18.8666C16.0012 18.9595 15.2149 18.9983 14.3511 18.7237C13.8273 18.5576 13.1557 18.3357 12.2953 17.9641C8.91458 16.5043 6.62992 13.2277 6.19813 12.6084C6.16788 12.5651 6.14672 12.5347 6.13492 12.519L6.13201 12.5151C5.94117 12.2604 4.66243 10.5543 4.66243 8.78851C4.66243 7.12742 5.47839 6.25676 5.85397 5.85599C5.8797 5.82854 5.90337 5.80328 5.92456 5.78013C6.2551 5.4191 6.64581 5.32884 6.8862 5.32884C7.12658 5.32884 7.36725 5.33107 7.57736 5.34162C7.60328 5.34292 7.63025 5.34276 7.65813 5.3426C7.86827 5.34137 8.13027 5.33983 8.38872 5.96065C8.48815 6.19956 8.63363 6.55375 8.78708 6.92731C9.09739 7.68277 9.44024 8.51748 9.50056 8.63826C9.59074 8.81878 9.65082 9.02929 9.53063 9.27007C9.51258 9.30617 9.4959 9.34024 9.47995 9.37279C9.38967 9.55711 9.32326 9.69269 9.17002 9.87161C9.10977 9.94196 9.0475 10.0178 8.98523 10.0936C8.86116 10.2447 8.73711 10.3958 8.62909 10.5034C8.44856 10.6832 8.26062 10.8783 8.47098 11.2394C8.68134 11.6004 9.40507 12.7813 10.4771 13.7375C11.6295 14.7654 12.6311 15.1998 13.1388 15.4201C13.2379 15.4631 13.3182 15.4979 13.3771 15.5274C13.7376 15.708 13.948 15.6777 14.1584 15.4371C14.3687 15.1965 15.0598 14.3841 15.3002 14.0231C15.5406 13.6622 15.7811 13.7224 16.1115 13.8426C16.4422 13.9631 18.2151 14.8354 18.5757 15.0159C18.6461 15.0511 18.7119 15.083 18.773 15.1124Z"
        fill="none"></path>
    </svg>
  </a>
  <a href="#" target="_blank" aria-label="Messenger">
    <svg
      width="25"
      height="24"
      viewBox="0 0 25 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="social-icons"
        d="M12.9912 0C6.36309 0 0.991211 4.97344 0.991211 11.1094C0.991211 14.6062 2.73496 17.7234 5.46309 19.7625V24L9.55059 21.7594C10.6428 22.0594 11.7959 22.2234 12.9912 22.2234C19.6193 22.2234 24.9912 17.25 24.9912 11.1141C24.9912 4.97344 19.6193 0 12.9912 0ZM14.1818 14.9625L11.1256 11.7047L5.16777 14.9625L11.7256 8.00156L14.8568 11.2594L20.7443 8.00156L14.1818 14.9625Z"
        fill="none"></path>
    </svg>
  </a>
  <a href=`viber://forward?text=${link}` target="_blank" aria-label="Viber">
    <svg
      width="22"
      height="24"
      viewBox="0 0 22 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="social-icons"
        d="M19.132 2.13718C16.5794 -0.338741 6.68789 -1.1329 3.08683 2.32404C1.67376 3.81893 1.0356 5.92113 0.898853 9.28464V9.56493C0.85327 12.2744 0.762104 17.1328 4.81898 18.9547C5.18365 19.1416 5.41156 19.5153 5.41156 19.889V23.1124C5.41156 23.7197 5.68506 23.9066 5.86739 23.9533C5.95856 24 6.00414 24 6.09531 24C6.32322 24 6.55114 23.8599 6.68789 23.673C7.28046 23.0657 8.73912 21.2438 9.51403 20.2628C9.69636 20.0292 10.0154 19.889 10.3345 19.889C13.2062 19.9825 15.531 19.4219 16.0324 19.2817C16.078 19.2817 16.1691 19.235 16.2603 19.1883C17.3543 18.908 20.6363 18.0671 21.1833 13.0686C21.1833 13.0219 21.1833 12.9752 21.1833 12.9284C21.5479 9.89194 21.6847 4.42623 19.132 2.13718ZM14.3002 16.946C13.343 16.6657 10.9727 15.3576 9.46845 14.0963C6.32322 11.4335 5.3204 7.92989 4.7734 6.80872C4.72782 6.66857 4.72782 6.52843 4.72782 6.38828C4.72782 5.45397 5.5939 4.65981 6.36881 4.19266C6.82463 3.95908 7.23488 4.00579 7.50838 4.37952C7.78188 4.75324 8.28329 5.2204 9.0582 6.66857C9.3317 7.22916 9.14936 7.78974 8.87587 8.02332L8.28329 8.49048C8.00979 8.72405 8.05537 9.19121 8.05537 9.19121C8.05537 9.19121 8.92145 12.6014 12.0667 13.4423C12.0667 13.4423 12.5225 13.489 12.7504 13.162L13.2062 12.5547C13.4342 12.2744 13.9812 12.0408 14.4826 12.3679C15.2119 12.7883 16.078 13.4423 16.5794 14.0963C16.7617 14.2832 16.8985 14.5168 16.8985 14.7503C16.8985 14.9372 16.8529 15.0774 16.7617 15.2642C16.3059 16.1051 15.531 16.9927 14.7105 16.9927C14.5737 16.9927 14.437 16.9927 14.3002 16.946ZM17.3543 10.2657C17.3999 10.6861 16.7617 10.6861 16.7617 10.2657C16.7161 6.1547 14.1635 3.95908 11.0183 3.91236C10.608 3.91236 10.608 3.25835 11.0183 3.25835C12.796 3.25835 14.3458 3.91236 15.4854 5.12696C16.625 6.29485 17.3543 8.07004 17.3543 10.2657ZM11.5653 5.59412C11.155 5.5474 11.2006 4.89339 11.6108 4.9401C14.3458 5.17368 15.8045 7.18244 15.7589 9.61165C15.7589 10.0788 15.1663 10.0321 15.1663 9.61165C15.2119 7.46274 13.9356 5.78098 11.5653 5.59412ZM14.1635 9.05106C14.2091 9.51822 13.5709 9.51822 13.5709 9.09778C13.5253 7.97661 13.0239 7.41602 12.0211 7.36931C11.6108 7.32259 11.6564 6.66857 12.0211 6.71529C13.343 6.80872 14.1179 7.60288 14.1635 9.05106Z"
        fill="none"></path>
    </svg>
  </a>
  <a
    href=`https://t.me/share/url?url=${link}`
    target="_blank"
    aria-label="Telegram"
  >
    <svg
      width="28"
      height="24"
      viewBox="0 0 28 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="social-icons"
        d="M1.46628 11.5079L7.66379 13.8785L10.0626 21.7848C10.2161 22.2912 10.8203 22.4784 11.2213 22.1423L14.6759 19.2561C15.038 18.9537 15.5538 18.9386 15.9323 19.2202L22.1631 23.8563C22.5921 24.1759 23.1999 23.935 23.3075 23.4037L27.8719 0.902248C27.9894 0.321911 27.433 -0.162224 26.8938 0.0514974L1.45902 10.1073C0.831345 10.3554 0.836814 11.2662 1.46628 11.5079ZM9.67602 12.6166L21.7883 4.97122C22.0059 4.83422 22.2299 5.13588 22.043 5.31358L12.0469 14.8364C11.6955 15.1716 11.4689 15.6202 11.4047 16.1071L11.0642 18.6932C11.0191 19.0385 10.5458 19.0728 10.4528 18.7386L9.1432 14.0227C8.9932 13.4848 9.21178 12.9102 9.67602 12.6166Z"
        fill="none"></path>
    </svg>
  </a>
  <CopyIcons link={link} />
</div>

<style>
  .social-icons {
    fill: #464545;
  }
  :global(.dark) .social-icons {
    fill: #e9e9e9;
  }
</style>
